auto-save-list/
eln-cache/
straight/
warnings/
elpa/
tree-sitter/
transient/
combobulate/
pyhist/
layouts/
node_modules/
**/*~
history
custom.el
places
nov-places
persp-state.el
history
package*.json
projects
